<%= render "shared/banner_list" %>

<div class="container text-center mt-5">


  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-list-movies">
        <h4><%= bookmark.movie.title %></h4>
          <hr>
          <p>Rating : <%= bookmark.movie.rating %> ⭐️</p>
          <p><strong>Overview</strong><br> <%= bookmark.movie.overview %> </p>
          <p><strong>Your comment</strong><br><%= bookmark.comment %></p>
          <%= link_to "Remove movie", bookmark_path(bookmark), :method => 'delete', class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center mt-5">
  <%= link_to "Return to lists", root_path, class: "btn btn-primary" %>
  <%= link_to "Delete list", list_path(@list), :method => 'delete' ,class: "btn btn-danger" %>
</div>
