<div class="container text-center new-bookmark-form mt-5">
<h1 class="mb-5">Add a movie to your <%= @list.name %> list !</h1>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
<%= f.association :movie, label: "Choose a movie in the list !", collection: Movie.all %>
<%= f.input :comment, label: false, placeholder: "Add a comment for this movie" %>
<%= f.submit "Add movie", class: "btn btn-gradient" %>
<% end %>
</div>
